$color: rgb(223, 217, 217);
$primary-color: #d2691e;
$Secondary-color:white;
$Tertiary-color: #191919;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #010101d7;
  font-size: 18px;
  font-family: "Crimson Text", serif;
  font-style: normal;
  color: $Tertiary-color;
  line-height: 40px;
  scroll-behavior: smooth;
}
.portfolio {
  height: 240vh;
  width: 100%;
  background-color: $color;

  nav {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    color: transparent;
    background-color: transparent;
     background-color: #d2691e;

    img {
      height: fit-content;
      color: $primary-color;
      width: 17%;
      position: absolute;
      left: 0;
      margin-left: 20px;
    }

    a {
      display: flex;
      margin: 1%;
      justify-content: flex-end;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      color: $Secondary-color;
    }
  }

  h1 {
    text-align: center;
    text-overflow: o;
    color: $color;
    display: inline-block;

    font-size: 48px;
    font-family: "Poppins";
    letter-spacing: 8px;
    line-height: 70px;

    margin-bottom: 0%;
  }
  h1::first-letter {
    font-size: 71px;
    font-weight: bold;
    color: #800080;
  }
  h2 {
    text-align: center;
    color: $Tertiary-color;
    font-size: 45px;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-left: 0;
    line-break: 0;
  }

  h3 {
    text-align: center;
    color: $primary-color;
  }

  h6 {
    color: $color;
    margin-top: 0%;
    line-height: 15px;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins";
  }

  .home {
    background-image: url(./images/dark.png);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 85.6vh;
    padding-bottom: 0px;
    overflow: hidden;
    margin-top: 0;

    .intro {
      display: flex;
      justify-content: center;
      height: 88.6vh;
      margin-left: 5%;
      margin-top: 7%;

      .contact {
        border: solid 2px $color;
        border-radius: 9px;
        background-color: #000000;
        color: $color;
        font-size: 23px;
        height: 10vh;
        width: 40%;
        margin: 15px 90px;
      }

      .span h3 {
        font-size: 80px;
      }
    }
  }

  .about {



    height: 200vh;
    width: 100%;
    overflow: hidden;
  }
  .me {
    margin-left: 440px;
    height: 20%;
    width: 30%;
    border-radius: 20%;
  }
  .about-me {
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    background-color: whitesmoke;

    li {
      margin: 10px;
      color: $Tertiary-color;
      font-size: 19px;
      margin-left: 0px;
      list-style: none;
      padding: 0px;
    }
  }
  .skills {
    padding-left: 5px;
    padding-right: 5px;
    color: $Tertiary-color;

    width: fit-content;

    h3 {
      color: $primary-color;
      margin-bottom: 2%;
      font-size: 25px;
    }

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      font-weight: bold;
    }
    h4 {
      color: $primary-color;
      margin-bottom: 2%;
      margin-top: 0%;
      margin-left: 450px;

      font-size: 25px;
    }

    .soft-skills {
      position: relative;
      font-weight: bold;
      color: $Tertiary-color;
      padding-left: 10px;
      padding-right: 10px;
      margin: 20px 60px 0 60px;
      font-size: 20px;
      background-color:$Secondary-color;


      h3 {
        padding-top: 1%;
        color: $primary-color;
        font-size: 25px;

        .ul {
          color: $Tertiary-color;
        }
      }
    }
  }
  .projects {

    height:570vh;
    background-size: 100% 100%;
    padding-top: 20%;
    padding-bottom: 0%;


  .project-container {
    padding-bottom: 1%;
    display: grid;
    width: 80%;

    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
    //margin-top: 20px;
  }

  .card {
    border: 2px solid rgb(205, 210, 216);
    border-radius: 10px;
    width: 100%;
    height: fit-content;

    padding-bottom: 1px;
  }

  .card-body {
    width: 100%;
    height: 120%;

    background-color: white;

    .card-title {
      font-size: 30px;
      color: #ff4500;
      margin-left: 20%;
      font-family: bold;
      font-family: sans-serif;
      text-transform: capitalize;
    }
    .card-title2 {
      margin-left: 2px;

      font-size: 30px;
      color: #ff4500;

      font-family: bold;
      font-family: sans-serif;
      text-transform: capitalize;
    }
    .project-pic {
      width: 95%;
      height: 200px;
      margin-left: 2%;
      padding-top: 4%;
    }

    .card-description {
      margin-left: 15%;
      font-weight: bold;

      color: $Tertiary-color;
    }
    .info {
      color: $Tertiary-color;
      padding-top: 20px;
      height: 250px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .info2 {
      color: $Tertiary-color;
      padding-top: 20px;
      height: 250px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .info3456 {
      color: $Tertiary-color;
      padding-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      height: 150px;

      &:hover {
        opacity: 1;
      }
    }

    .card-link {
      text-decoration: none;
      border: 2px solid $color;
      border-radius: 6px;
      padding: 3px 3px 3px;
      background-color: #078907;
      color: #000;
      font-size: 20px;

      margin-left: 12%;
    }
  }
  }
  #scrollButton {
    background-color: $primary-color;
    position: fixed;
    left: 20px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px $primary-color;
    color: $Secondary-color;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 10;

    :active {
      background:$Secondary-color;
    }
  }
  #contact {
    margin-top: 40px;
    height: 300px;
  }
  .text {
    background-color:$Secondary-color;
    text-align: center;
    display: inline-flex;
    font-weight: bold;
    margin-left: 500px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    width: 30%;
  }
  .contact-icons-container {

    justify-content: center;
    width: 18%;
    height: 58%;
    display: flex;
    flex-direction: row;

    margin-left: 600px;

    a {
      margin: 80px 50px 1px;
    }
  }
}

.contact-form {
  background-color: grey;
  width: 40%;
  margin-bottom: 5%;
  margin-top: 1%;
  margin-left: 420px;

  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 1px;
    width: 100%;
    padding: 20px;
  }

  .input-fields,
  .content {
    width: 100%;

    input,
    textarea {
      margin: 10px 0;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid white;
      padding: 10px;
      color: white;
      width: 100%;

      &::placeholder {
        color: inherit;
      }

      & :required {
        border-color: #f5f5f5;
      }
    }

    textarea {
      height: 210px;
    }
    .button {
      width: 50%;
      align-items: center;
      margin-left: 89px;
      background-color: $Secondary-color;
      border: 2px solid $Secondary-color;
      border-radius: 5px;
      color: #000;
      cursor: pointer;

      &:hover {
        border: 2px solid $color;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  margin: 6% 0 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $primary-color;
  padding: 0px;
  border: none;

  p {
    height: fit-content;
    width: fit-content;
    color: $color;
    left: 0;
    margin-left: 20px;
  }
  #year {
    color: $color;
  }
}

@media only screen and (max-width: 420px) {
  .portfolio {
    height: 660px;
    width: 100%;
    nav {
      img {
        display: none;
      }

      a {
        width: 90%;
        margin-left: 1px;

        font-size: 14px;
      }
    }

    .home {
      height: 60vh;

      h1 {
        margin-top: 180px;
        line-height: 7px;
        font-size: 20px;
        width: 100%;

        h1::first-letter {
          font-size: 21px;
        }
      }

      h6 {
        font-size: 16px;
        margin-right: 60px;
      }
    }

    .about {
      height: 300vh;
      .me {
        width: 400px;
        margin-left: 2px;
      }
      .about-me {
        width: 400px;
      }
    }
    .icon {
      display: flex;
      width: 70%;
      margin-left: 40px;
      margin-right: 0;
    }

    .soft-skills {
      width: 90%;
      margin-left: 2px;
    }
    .projects {
      width: 100%;
      height: 900px;
    }
    h2 {
      font-size: 30px;
    }

    .project-container {
      display: grid;

      grid-template-columns: 1fr;
    }

    .info,
    .info2 {
      margin-bottom: 100px;
    }
  }
  #contact {
    margin-top: 4px;

    .text {
      width: fit-content;
      margin-left: 10px;
      margin-bottom: 1%;
    }
    .contact-icons-container {
      width: 14%;
      height: 1%;

      margin-left: 140px;

      a {
        margin: 20px 20px 1px;
        margin-top: 1px;
      }
    }
  }
  .contact-form {
    width: 370px;
    margin-top: 4%;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .input-fields {
      display: flex;
      flex-direction: column;

      width: 270px;
      padding: 20px;
    }

    .input-fields,
    .content {
      width: 100%;

      input,
      textarea {
        margin: 10px 0;

        width: 100%;
      }

      textarea {
        height: 210px;
      }
      .button {
        width: 60%;
        align-items: center;
        margin-left: 30px;
      }
    }
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .headers {
    margin-left: 15%;
  }
  .icon {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
  }
}

@media screen and (min-width: 2400px) {
  .icon {
    margin-left: 1200px;
  }
}
