* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: rgba(1, 1, 1, 0.8431372549);
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  line-height: 20px;
  scroll-behavior: smooth;
}

.portfolio {
  height: 820vh;
  background-color: #191919;
}
.portfolio nav {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: transparent;
  background-color: transparent;
  background-color: #d2691e;
}
.portfolio nav img {
  height: -moz-fit-content;
  height: fit-content;
  color: #d2691e;
  width: 17%;
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.portfolio nav a {
  display: flex;
  margin-left: 1px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}
.portfolio .text-wrapper {
  margin-left: 30px;
}
.portfolio h1 {
  color: rgb(223, 217, 217);
  display: inline-block;
  text-shadow: yellow 0px 0px 12px;
  font-weight: 600;
  font-size: 80px;
  word-wrap: normal;
  letter-spacing: 7px;
  margin-right: 2px;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 50px;
}
.portfolio h2 {
  color: rgb(223, 217, 217);
  font-size: 35px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 90px;
  padding-left: 0;
  line-break: 0;
}
.portfolio h3 {
  text-align: center;
  color: #d2691e;
}
.portfolio h6 {
  color: rgb(223, 217, 217);
  font-weight: bold;
  text-shadow: yellow 0px 0px 10px;
  margin-top: 5%;
  line-height: 35px;
  font-size: 35px;
  margin-left: 30px;
}
.portfolio .home {
  width: 100%;
  height: 55.6vh;
  padding-bottom: 0px;
  overflow: hidden;
  margin-top: 0;
  border-bottom: 5px solid white;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio .home .intro {
  display: flex;
  justify-content: center;
  height: 88.6vh;
  margin-left: 5%;
  margin-top: 7%;
}
.portfolio .home .intro .span h3 {
  font-size: 80px;
}
.portfolio .about {
  height: 400vh;
  width: 100%;
  border-bottom: 5px solid white;
}
.portfolio .about .me {
  margin-left: 500px;
  height: 2 30%;
  width: 30%;
  border-radius: 20%;
}
.portfolio .about .about-me {
  position: relative;
  width: 90%;
  margin-top: 50px;
  height: 320px;
  margin-left: 10px;
  margin-bottom: 30px;
  background-color: whitesmoke;
  padding-left: 8px;
  font-size: 60px;
  padding-top: 3px;
}
.portfolio .about .about-me h5 {
  font-weight: bold;
  text-decoration: underline;
  color: #191919;
  font-size: 20px;
  text-align: center;
}
.portfolio .about .about-me li {
  margin: 10px;
  color: #191919;
  font-size: 18px;
  margin-left: 0px;
  list-style: none;
  padding: 0px;
  word-spacing: 2px;
}
.portfolio .about .skills {
  padding-left: 5px;
  padding-right: 5px;
  color: #191919;
  height: 300vh;
}
.portfolio .about .skills h3 {
  color: #d2691e;
  margin-bottom: 2%;
  font-size: 25px;
  margin-top: 15px;
}
.portfolio .about .skills .icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  margin-left: 0px;
}
.portfolio .about .skills .icon div {
  text-align: center;
  padding: 30px;
}
.portfolio .about .skills .iconName {
  color: white;
}
.portfolio .about .skills h4 {
  color: #d2691e;
  margin-bottom: 2%;
  margin-top: 0%;
  margin-left: 450px;
  font-size: 25px;
}
.portfolio .about .skills .skillsExposed {
  width: 100%;
  padding: 10px;
}
.portfolio .about .skills .skillsExposed p {
  color: white;
}
.portfolio .about .skills .skillsExposed .exposure {
  color: #d2691e;
  margin-bottom: 0;
  margin-left: 1px;
  width: auto;
  font-size: 20px;
}
.portfolio .about .skills .skillsExposed .icon2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2px;
  width: auto;
}
.portfolio .about .skills .skillsExposed .icon2 div {
  padding: 1px;
}
.portfolio .about .skills .skillsExposed .icon2 i {
  font-size: 80px;
  margin-bottom: 0;
}
.portfolio .about .skills .skillsExposed .icon2 .name {
  color: white;
  font-size: 18px;
}
.portfolio .about .skills h3 {
  padding-top: 1%;
  margin-bottom: 0;
  color: #d2691e;
  font-size: 25px;
  margin-right: 100px;
}
.portfolio .about .skills .soft-skills {
  font-weight: bold;
  color: #191919;
  padding-left: 10px;
  padding-right: 10px;
  margin: 50px 60px 0 60px;
  font-size: 30px;
  background-color: white;
  width: auto;
}
.portfolio .about .skills .soft-skills ul {
  color: #191919;
  margin-top: 10px;
}
.portfolio .title {
  margin-bottom: 50px;
  margin-right: 0px;
}
.portfolio .projects {
  height: 680vh;
  background-size: 100% 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid 2px white;
}
.portfolio .projects .project-container {
  padding-bottom: 2%;
  display: grid;
  width: 600px;
  margin-left: 30px;
  grid-template-columns: 1fr;
  gap: 120px;
  margin: auto;
}
.portfolio .projects .card {
  border: 2px solid rgb(205, 210, 216);
  box-shadow: rgb(223, 217, 217) 0px 0px 10px;
  border-radius: 10px;
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 1px;
}
.portfolio .projects .card-body {
  width: 100%;
  height: 5%;
  background-color: white;
}
.portfolio .projects .card-body .card-title {
  font-size: 23px;
  color: #ff4500;
  margin-left: 30%;
  font-family: bold;
  font-family: sans-serif;
  text-transform: capitalize;
}
.portfolio .projects .card-body .card-title2 {
  margin-left: 2px;
  font-size: 30px;
  color: #ff4500;
  font-family: bold;
  font-family: sans-serif;
  text-transform: capitalize;
}
.portfolio .projects .card-body .project-pic {
  width: 95%;
  height: 200px;
  margin-left: 2%;
  padding-top: 4%;
}
.portfolio .projects .card-body .card-description {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1;
  margin-left: 40px;
  color: #191919;
}
.portfolio .projects .card-body .card-description1 {
  overflow: hidden;
  margin-left: 10px;
  text-decoration: underline;
  white-space: nowrap;
  width: 446.7px;
}
.portfolio .projects .card-body .info {
  color: #191919;
  padding-top: 20px;
  height: 35vh;
  margin-left: 56px;
  font-size: 14px;
  width: auto;
}
.portfolio .projects .card-body .info2 {
  color: #191919;
  padding-top: 20px;
  height: 45vh;
  margin-left: 2px;
  margin-right: 2px;
  width: auto;
}
.portfolio .projects .card-body .info2 .card-link {
  text-decoration: none;
  border: 2px solid #d2691e;
  border-radius: 6px;
  padding: 5px 3px 3px;
  background-color: gray;
  color: red;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 12%;
}
.portfolio .projects #scrollButton {
  background-color: #d2691e;
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px #d2691e;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  z-index: 10;
}
.portfolio .projects #scrollButton :active {
  background: white;
}
.portfolio .projects #contact {
  border-top: 3px solid white;
  border-width: 100%;
  margin-top: 80px;
  height: 200px;
}
.portfolio .projects #contact .contact-header {
  margin-top: 30px;
  margin-left: 500px;
}
.portfolio .projects #contact .text {
  color: #f5f5f5;
  text-align: center;
  display: inline-flex;
  font-weight: bold;
  margin-left: 45px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
  margin-top: 30px;
  width: 30%;
  font-size: 30px;
  line-height: 30px;
}
.portfolio .projects #contact .contact-icons-container {
  width: 10%;
  height: 58%;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.portfolio .projects #contact .contact-icons-container a {
  margin: 60px 30px 10px;
}
.portfolio .projects #contact .contact-form {
  background-color: grey;
  width: 40%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 380px;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.portfolio .projects #contact .contact-form .input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  width: 100%;
  padding: 20px;
}
.portfolio .projects #contact .contact-form .input-fields,
.portfolio .projects #contact .contact-form .content {
  width: 100%;
}
.portfolio .projects #contact .contact-form .input-fields input,
.portfolio .projects #contact .contact-form .input-fields textarea,
.portfolio .projects #contact .contact-form .content input,
.portfolio .projects #contact .contact-form .content textarea {
  margin: 10px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  width: 100%;
}
.portfolio .projects #contact .contact-form .input-fields input::-moz-placeholder, .portfolio .projects #contact .contact-form .input-fields textarea::-moz-placeholder, .portfolio .projects #contact .contact-form .content input::-moz-placeholder, .portfolio .projects #contact .contact-form .content textarea::-moz-placeholder {
  color: inherit;
}
.portfolio .projects #contact .contact-form .input-fields input::placeholder,
.portfolio .projects #contact .contact-form .input-fields textarea::placeholder,
.portfolio .projects #contact .contact-form .content input::placeholder,
.portfolio .projects #contact .contact-form .content textarea::placeholder {
  color: inherit;
}
.portfolio .projects #contact .contact-form .input-fields input :required,
.portfolio .projects #contact .contact-form .input-fields textarea :required,
.portfolio .projects #contact .contact-form .content input :required,
.portfolio .projects #contact .contact-form .content textarea :required {
  border-color: #f5f5f5;
}
.portfolio .projects #contact .contact-form .input-fields textarea,
.portfolio .projects #contact .contact-form .content textarea {
  height: 210px;
}
.portfolio .projects #contact .contact-form .input-fields .button,
.portfolio .projects #contact .contact-form .content .button {
  width: 50%;
  align-items: center;
  margin-left: 89px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}
.portfolio .projects #contact .contact-form .input-fields .button:hover,
.portfolio .projects #contact .contact-form .content .button:hover {
  border: 2px solid rgb(223, 217, 217);
}
.portfolio .projects footer {
  width: 100%;
  height: 50px;
  margin-top: 73%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #d2691e;
  padding: 0px;
  border: none;
}
.portfolio .projects footer p {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(223, 217, 217);
  left: 0;
  margin-left: 20px;
}
.portfolio .projects footer #year {
  color: rgb(223, 217, 217);
}

@media only screen and (min-width: 1200px) {
  h1 {
    margin-left: 300px;
  }
  h6 {
    margin-right: 400px;
  }
  h2 {
    margin-left: 550px;
  }
}/*# sourceMappingURL=main.css.map */